<!DOCTYPE html>
<html>
<head>
	<title>TinyURL</title>
</head>
<header>
    <h1>TinyAPP</h1>
    <a href="/urls/new">Create New TinyURL</a>
</header>
<body>
	<div class="container">
		<form method="POST" action="/login">
			<!-- <label for="username"><b>Username</b></label> -->
		    <input type="text" placeholder="Enter Username" name="username">

		    <!-- <label for="psw"><b>Password</b></label> -->
		    <!-- <input type="password" placeholder="Enter Password" name="psw"> -->

		    <button type="submit" class="btn btn-primary">Sign in</button>

		   <!--  <div class="container" style=""> -->
		</form>
	</div>

</body>
</html>