<!DOCTYPE html>
<html>
<head>
	<title>TinyURL</title>
</head>
<header>
    <h1>TinyAPP</h1>
    <a href="/urls/new">Create New TinyURL</a>
    <hr>
</header>
<body>	
<!-- <div style="width:500px; float:right; text-align:left"> -->
		<% if(username){ %>
			<form method="POST" action="/logout">
	   			<h3>Username: <%= username %></h3>
	   			<button type="submit" class="btn btn-primary">Logout</button>
	   		</form>
 		<% } else{ %>  
   			<form method="POST" action="/login">
			<label for="username"><b>Username</b></label>
		    <input type="email" placeholder="Enter Username" name="email">

		    <label for="psw"><b>Password</b></label>
		    <input type="password" placeholder="Enter Password" name="password">

		    <button type="submit" class="btn btn-primary">Login</button>

		   <!--  <div class="container" style=""> -->
			</form>
		<% } %>
	</div>
	<hr>
</body>
</html>