<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	  <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<title>Registration</title>
	<title>Login Page</title>
</head>
<body style="font-size:20px; padding:50px;">
	<div>
	<h1>TinyAPP</h1>
	<h3>Login</h3>
	<form method="POST" action="/login">
		<label for="email"><b>Username:</b></label>
		<input type="email" placeholder="Enter Username" name="email">

		<label for="password"><b>Password:</b></label>
		<input type="password" placeholder="Enter Password" name="password">

		<button type="submit" class="btn btn-primary">Login</button>
	</form>
	</div>
</body>
</html>